.app {
	background-color: white;
}

.appContainer {
	display: grid;
	grid-template-columns: [first] 15% [second] 60% [third] 10% [fourth] 15% [end] 0px;

}

.logoArea {
  background-color: #fff;
  height: 70px;
  grid-column-start: first;
  grid-column-end: span end;
}

.logo {
	height: 70px;
	margin-left: 20px;
}

.App-header {
  background-color: #ededed;
  height: 150px;
  border-top: 2px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3; 
  text-align: center;
  grid-column-start: first;
  grid-column-end: span end;
}

.App-title {
  font-size: 4em;
	font-family: 'Amatic SC', cursive;

}

.leftColumn {
	grid-column-end: second;
	background-color: #ffffff;
	text-align: center;
}

.columnTitle {
	font-size: 1.5em;
	padding: 3px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.columnOptions {
	font-size: 1.8em;
	padding: 15px;
	cursor: pointer;
	border: none;
	background-color: #ffffff;
	width: 70%;
	font-family: 'Amatic SC', cursive;
}

.search {
	background-color: #ffffff;
	height: 20px;
	grid-column-start: second;
    grid-column-end: span end;
}

.addNewButton {
	background-color: #ffffff;
	grid-column-start: second;
    grid-column-end: span end;
	padding: 10px;
	text-align: right;
}

.addNew {
    background-color: gold;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.searchBar {
	width: 100%;
	margin-top: 15px;
	padding: 7px;
	border: 1px #ededed solid;
}

.mainHeader {
	grid-column-start: second;
	grid-column-end: third;
	background-color: #ffffff;
	border-top: 2px solid gold;
	padding: 20px;
}

.upvotesTitle {
	grid-column-start: third;
	grid-column-end: fourth;
	background-color: #ffffff;
	border-top: 2px solid gold;
	padding: 20px;
}

.timestampTitle {
	grid-column-start: fourth;
	grid-column-end: end;
	background-color: #ffffff;
	border-top: 2px solid gold;
	padding: 20px;
}

.postsWrapper {
	background-color: #ededed;
	grid-column-start: second;
	grid-column-end: end;
}

.mainPosts {
	background-color: #ededed;
	grid-column-start: second;
	grid-column-end: end;
	color: black;
	display: grid;
    grid-template-columns: [main] 70% [column] 10% [column2] 15%;
	
}

.individualPost {
	padding: 15px;
	grid-column-start: main;
	grid-column-end: column;
	cursor: pointer;
}

.postTitle {
	font-size: 1.5em;
}

.postAuthor {
	color: grey;
}

.upvotesColumn {
	grid-column-start: column;
	font-size: 1.5em;
	padding: 20px;
	text-align: center;
}

.timestampColumn {
	grid-column-start: column2;
	font-size: 1.5em;
	padding: 20px;
	text-align: center;
}

.vote {
    font-size: 1.2em;
}

//CREATE COMPONENT
.createWrapper {
	
}
.container {
    border-radius: 5px;
    background-color: #ededed;
    padding: 20px;
	width: 60%;
	margin: auto;
}

.createTitle {
	font-size: 2em;
	text-align: center;
	padding: 15px;
}

input[type=text], select, textarea {
	width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.submitButton {
    background-color: gold;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #d6cc1b;
}

//POST POPUP
.individualPostWrapper {
  width: 150%;
  height: 150%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: fixed;
  left: 15%;
  right: 15%;
  top: 15%;
  bottom: 15%;
  margin: auto;
  background: white;
}

.individualTitle {
	color: black;
	font-size: 1.7em;
}

.individualBody {
	margin: auto;
}

.individualAuthor {
	
}

.individualCategory {
	
}

.individualVotescore {
	
}

.individualCommentCount {
	
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
